.getPrice,
.updateROI {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: #1c4542;
  border-radius: 10px;
  margin: 10px;
}

.getPrice:hover,
.updateROI:hover {
  cursor: pointer;
  padding: 10px;
  background-color: #3e9e4f;
  color: #1c4542;
  border-radius: 10px;
}

.detailTable {
  margin-top: 50px;
  opacity: 0.7;
  padding-top: 15px;
  padding-bottom: 10px;
  color: white;
  background: linear-gradient(145deg, #1c4542 60%, #398563 60%);
  border-radius: 12px;
  font-family: "Cormorant", sans-serif;
}

.detailForm {
  font-family: "Cormorant", sans-serif;
  position: center;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 450px) {
  .detailForm {
    font-size: 20px;
  }
}

@media screen and (min-width: 620px) {
  .currentPriceDetail,
  .purchasePriceDetail,
  .currentROIDetail,
  .postDetail {
    margin: 3rem;
    font-size: 30px;
  }
}

/**
 *  Tablet Horizontal
 */
/* @media screen and (min-width: 960px) {
} */

/**
 *  Desktop
 */
/* @media screen and (min-width: 1200px) {
} */
