.postBtn {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: #1c4542;
  border-radius: 10px;
  margin: 10px;
}

.postBtn:hover {
  cursor: pointer;
  background-color: #349e95;
  color: #ffffff;
  border-radius: 10px;
}

.addStockSection {
  opacity: 0.5;
  padding-top: 15px;
  padding-bottom: 10px;
  color: white;
  background: linear-gradient(145deg, #1c4542 60%, #398563 60%);
  border-radius: 12px;
  font-family: "Cormorant", sans-serif;
}

.form-row {
  display: block;
}

.inputPurchasePrice {
  width: 35px;
  margin: 0px;
}

.form-column {
  text-align: center;
  margin: 10px;
}

.commentSection {
  display: flex;
  justify-content: center;
}

textarea.textbox {
  width: 800px;
  height: 100px;
  margin-top: 1rem;
  outline: none;
  resize: none;
  background-color: #86b6b2;
}

.postButton,
.getUpdatedMarketPrices {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.inputTickerSymbol {
  width: 90px;
  margin: 0px;
}

@media screen and (min-width: 450px) {
  textarea.textbox {
    width: 800px;
    height: 150px;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 620px) {
  .addStockSection {
    margin-left: 50px;
    margin-right: 50px;
  }
  textarea.textbox {
    width: 800px;
    height: 200px;
    margin-top: 3rem;
  }
  .form-row {
    display: flex;
    justify-content: space-evenly;
  }
}
