.form-row {
  display: block;
}

.inputPurchasePrice {
  width: 35px;
}

.form-column {
  text-align: center;
}

.commentSection {
  display: flex;
  justify-content: center;
}

textarea.textbox {
  width: 800px;
  height: 100px;
  margin-top: 1rem;
}

.postButton,
.getUpdatedMarketPrices {
  display: flex;
  margin: 3rem;
  justify-content: center;
}

.inputTickerSymbol {
  width: 90px;
}

@media screen and (min-width: 450px) {
  textarea.textbox {
    width: 800px;
    height: 150px;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 620px) {
  textarea.textbox {
    width: 800px;
    height: 200px;
    margin-top: 3rem;
  }
  .form-row {
    display: flex;
    justify-content: space-evenly;
  }
}
