.postBtn {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgb(124, 119, 118);
  border-radius: 10px;
  margin: 10px;
}

.postBtn:hover {
  cursor: pointer;
  opacity: 0.9;
  background-color: rgb(51, 37, 36);
  color: rgb(247, 232, 152);
  border-radius: 10px;
}

.addStockSection {
  opacity: 0.8;
  padding: 10px;
}

.form-row {
  display: block;
}

.inputPurchasePrice {
  width: 35px;
  margin: 0px;
}

.form-column {
  text-align: center;
  margin: 10px;
}

.commentSection {
  display: flex;
  justify-content: center;
}

textarea.textbox {
  width: 800px;
  height: 100px;
  margin-top: 1rem;
  outline: none;
  resize: none;
}

.postButton,
.getUpdatedMarketPrices {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.inputTickerSymbol {
  width: 90px;
  margin: 0px;
}

@media screen and (min-width: 450px) {
  textarea.textbox {
    width: 800px;
    height: 150px;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 620px) {
  textarea.textbox {
    width: 800px;
    height: 200px;
    margin-top: 3rem;
  }
  .form-row {
    display: flex;
    justify-content: space-evenly;
  }
}
