header,
.briefOV,
.appDesc,
.signUpForm,
.navHoldings,
.navHold {
  font-family: "Cormorant", sans-serif;
  position: center;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

li {
  list-style-type: none;
}

.navHold {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgb(124, 119, 118);
  border-radius: 10px;
}

.navHold:hover {
  cursor: pointer;
  padding: 10px;
  background-color: rgb(221, 221, 221);
  color: rgb(139, 137, 136);
  border-radius: 10px;
}

h1 {
  font-weight: lighter;
}

header {
  font-size: 20px;
}

.landingPage {
  font-size: 15px;
}

.join_button {
  margin: 10px;
}

input {
  transition: width 0.4s ease-in-out;
  margin-bottom: 10px;
}

input:focus {
  border: 3px solid #555;
}

label {
  margin-right: 20px;
}
@media screen and (min-width: 450px) {
  header,
  .briefOV,
  .appDesc,
  .signUpForm,
  .navHoldings,
  .navHold {
    font-family: "Cormorant", sans-serif;
    position: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  header {
    font-size: 30px;
  }

  .landingPage {
    font-size: 20px;
  }
}

@media screen and (min-width: 620px) {
  header,
  .briefOV,
  .appDesc,
  .signUpForm,
  .navHoldings,
  .navHold {
    font-family: "Cormorant", sans-serif;
    position: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 960px) {
}

@media screen and (min-width: 1200px) {
}

/**
 *  Tablet Vertical

@media screen and (min-width: 620px) {
  header {
    font-size: 25px;
    margin: 75px;
  }
  button {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
  }
}

/**
 *  Tablet Horizontal
 
@media screen and (min-width: 960px) {
  header h1 {
    margin-bottom: 7rem;
  }

  .briefOV,
  .appDesc,
  .signUpForm {
    margin-top: 10rem;
    margin-bottom: 20rem;
  }

  .briefOV h3,
  .appDesc h3,
  .signUpForm h3 {
    font-size: 30px;
  }

  .briefOV p,
  .appDesc p,
  .signUpForm p {
    font-size: 20px;
  }
  input {
    transition: width 0.4s ease-in-out;
    margin-left: 400px;
    margin-bottom: 15px;
  }
  .signup-form {
    text-align: left;
    margin-left: 100px;
  }
}

/**
 *  Desktop
 
@media screen and (min-width: 1200px) {
}
*/
