.stockHoldings {
  font-family: "Cormorant", sans-serif;
  font-weight: 600;
}

.deleteBtn {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: #1c4542;
  border-radius: 10px;
  margin: 10px;
}

.deleteBtn:hover {
  cursor: pointer;
  padding: 10px;
  background-color: #3e9e4f;
  color: #1c4542;
  border-radius: 10px;
}

.holdingsTable {
  border: solid 1px #395664;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  font-size: 15px;
  color: #1c4542;
}

.holdingsTable thead th {
  background-color: #579c7d;
  color: rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
}

.holdingsTable tbody td {
  color: #1c4542;
  padding: 10px;
}

.trow:hover,
.deleteBtn {
  cursor: pointer;
}

.trow:hover {
  background-color: #d0f0ed;
}

.price,
.roi {
  text-align: center;
}

@media screen and (min-width: 450px) {
  .holdingsTable {
    margin-top: 2rem;
    font-size: 18px;
  }
  .holdingsTable thead th {
    padding: 10px;
  }
  .links {
    font-size: 18px;
    margin-left: 18px;
  }
}

@media screen and (min-width: 620px) {
  .links {
    font-size: 20px;
    margin-left: 20px;
  }
  .header {
    font-size: 40px;
  }
}

/**
 *  Tablet Horizontal
 */
/* @media screen and (min-width: 960px) {
} */

/**
 *  Desktop
 */
/* @media screen and (min-width: 1200px) {
} */
