@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap");

.links {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

.landing,
.holdings {
  text-decoration: none;
  color: #1c4542;
  font-weight: bolder;
  font-family: "Cormorant", sans-serif;
}

.landing:hover,
.holdings:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.1);
}

.holdings {
  margin-left: 30px;
}

.header {
  font-weight: lighter;
  display: block;
  text-align: center;
  font-size: 30px;
  font-family: "Cormorant", sans-serif;
}

@media screen and (min-width: 450px) {
  .links {
    font-size: 18px;
    margin-left: 18px;
  }
}

/**
*  Tablet Vertical
*/
@media screen and (min-width: 620px) {
  .links {
    font-size: 20px;
    margin-left: 20px;
  }
  .header {
    font-size: 40px;
  }
}

/**
 *  Tablet Horizontal
 */
/* @media screen and (min-width: 960px) {
} */

/**
 *  Desktop
 */
/* @media screen and (min-width: 1200px) {
} */
