@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap");

.header {
  font-weight: lighter;
  display: block;
  text-align: center;
  font-size: 25px;
  font-family: "Cormorant", sans-serif;
}

@media screen and (min-width: 450px) {
  .header {
    font-size: 30px;
  }
}

/**
*  Tablet Vertical
*/
@media screen and (min-width: 620px) {
  .header {
    font-size: 40px;
  }
}

/**
 *  Tablet Horizontal
 */
/* @media screen and (min-width: 960px) {
} */

/**
 *  Desktop
 */
/* @media screen and (min-width: 1200px) {
} */
